<div class="about-us">
    <div class="banner" [style.backgroundImage]="'url(http://lepos.in/admin-images/contact_us.jpg)'">
        <div class="banner-overlay"></div>
        <div class="banner-container">
            <h1 class="text-center">Contact Us</h1>
            <h4 class="text-center">we would be happy to assist you.</h4>
        </div>
    </div>

    <div class="container pt-5 pd-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <ngb-accordion [closeOthers]="true" activeIds="static-1">
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelHeader>
                            <div class="d-flex align-items-center justify-content-between">
                              <button ngbPanelToggle class="btn container-fluid text-left pl-0">Our Office</button>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3773.401199409676!2d72.8284158!3d18.957881!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cfb7e90b7c2d%3A0x553dd3e29e83298e!2sCHETAN%20CERAMICS!5e0!3m2!1sen!2sin!4v1587987680601!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border: 0px; opacity: 1; visibility: visible;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2">
                        <ng-template ngbPanelHeader>
                            <div class="d-flex align-items-center justify-content-between">
                              <button ngbPanelToggle class="btn container-fluid text-left pl-0">Office Address</button>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row p-2">
                                <div class="col-2">
                                    <i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="col-10">
                                    <p>Chetan Ceramics<br>
                                    468, Ismail Building, Maulana Azad Road,<br>
                                    Near Gol Deval Temple,<br>
                                    Mumbai – 400 004.</p>
                                </div>
                            </div>

                            <div class="row p-2">
                                <div class="col-2">
                                    <i class="fa fa-2x fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <div class="col-10">
                                    <p>022-23851577</p>
                                </div>
                            </div>

                            <div class="row p-2">
                                <div class="col-2">
                                    <i class="fa fa-2x fa-mobile" aria-hidden="true"></i>
                                </div>
                                <div class="col-10">
                                    <p>+91-9769619950 / 9820219950</p>
                                </div>
                            </div>

                            <div class="row p-2">
                                <div class="col-2">
                                    <i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                <div class="col-10">
                                    <p>support@lepos.in</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- <ngb-panel id="static-3">
                        <ng-template ngbPanelHeader>
                            <div class="d-flex align-items-center justify-content-between">
                              <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third panel</button>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                            anim keffiyeh helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard of them accusamus
                            labore sustainable VHS.
                        </ng-template>
                    </ngb-panel> -->
                </ngb-accordion>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-5">
                <h3 class="text-center pt-3 pb-3">GET IN TOUCH</h3>

                <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
                    <div class="form-group">
                        <label>Message <span class="text-danger">*</span></label>
                        <textarea formControlName="message" class="form-control" rows="3"></textarea>
                        <small
                            *ngIf="contactForm.get('message').invalid && (contactForm.get('message').dirty || contactForm.get('message').touched)"
                            class="form-text text-danger">Please enter atlease 15 words.</small>
                    </div>

                    <div class="form-group">
                        <label>Profession <span class="text-danger">*</span></label>
                        <select class="custom-select" formControlName="profession">
                            <option *ngFor="let p of profession" (change)="changefield($event)" [ngValue]="p">{{p}}
                            </option>
                        </select>
                        <small
                            *ngIf="contactForm.get('profession').invalid && (contactForm.get('profession').dirty || contactForm.get('profession').touched)"
                            class="form-text text-danger">Please select atlease one option</small>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Name <span class="text-danger">*</span></label>
                                <input type="text" formControlName="name" class="form-control">
                                <small
                                    *ngIf="contactForm.get('name').invalid && (contactForm.get('name').dirty || contactForm.get('name').touched)"
                                    class="form-text text-danger">Please enter valid character</small>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Company</label>
                                <input type="text" formControlName="company" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>State</label>
                        <select class="custom-select" formControlName="state">
                            <option *ngFor="let s of states" (change)="changefield($event)" [ngValue]="s.name">
                                {{s.name}}</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>City <span class="text-danger">*</span></label>
                                <input type="text" formControlName="city" class="form-control">
                                <small
                                    *ngIf="contactForm.get('city').invalid && (contactForm.get('city').dirty || contactForm.get('city').touched)"
                                    class="form-text text-danger">Please enter valid City Name</small>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Area/Locality</label>
                                <input type="text" formControlName="area" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Phone <span class="text-danger">*</span></label>
                                <input type="text" formControlName="phone" class="form-control">
                                <small
                                    *ngIf="contactForm.get('phone').invalid && (contactForm.get('phone').dirty || contactForm.get('phone').touched)"
                                    class="form-text text-danger">Please enter valid Phone Number</small>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="email" formControlName="email" class="form-control">
                                <small
                                    *ngIf="contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched)"
                                    class="form-text text-danger">Please enter valid Email ID</small>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-main btn-block" type="submit"
                        [disabled]="contactForm.invalid">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>