<div class="sub-category">
    <div class="container">
        <div class="section">
            <div class="row mt-5 mb-5">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="wrapper text-center" *ngIf="ProductData != undefined && ProductData.imgarr == undefined">
                        <img width="85%" src="assets/images/558x500.png">
                    </div>
                    <div class="wrapper text-center" *ngIf="ProductData != undefined && ProductData.imgarr != undefined && ProductData.imgarr.length == 1">
                        <!-- <img width="85%" [src]="'http://lepos.in/lepos_products_image/'+ProductData.imgarr[0].path"> -->
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </div>
                    <div class="wrapper text-center" *ngIf="ProductData != undefined && ProductData.imgarr != undefined && ProductData.imgarr.length > 1">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-5" *ngIf="ProductData">
                    <h2 [innerHTML]="ProductData.name"></h2>
                    <br>

                    <p class="mb-0" *ngIf="checkifstrint(ProductData.price) == false">Item MRP: <span class="bold main-color">₹{{ProductData.price | number : '1.0'}}</span></p>
                    <p class="mb-0" *ngIf="checkifstrint(ProductData.price) == true">Item MRP: <span class="bold main-color" [innerHTML]="ProductData.price"></span></p>
                    <p>Item Code: <span class="bold">{{ProductData.item_code}}</span></p>

                    <p class="mb-0">Features:</p>
                    <div [innerHTML]="ProductData.description"></div>
                    <p class="mb-0">Size: <span class="bold">{{ProductData.size}}</span></p>
                    <p class="mb-0">Finish: <span class="bold">{{ProductData?.color}}</span></p>

                    <div class="row mt-5 desktop">
                        <div class="col-6">
                            <button type="button" class="btn btn-main btn-block">ADD TO SELECTION</button>
                            <button type="button" class="btn btn-outline-main btn-block">PHONE CONSULTATION</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-main btn-block">DOWNLOAD BROCHURES</button>
                            <button type="button" class="btn btn-outline-main btn-block">NEAREST SHOWROOM</button>
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="row mt-5">
                            <div class="col-12">
                                <button type="button" class="btn btn-main btn-block">ADD TO SELECTION</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-main btn-block">PHONE CONSULTATION</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-main btn-block">DOWNLOAD BROCHURES</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-main btn-block">NEAREST SHOWROOM</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>