<div class="hearder-container">
    <div class="nav-lg primary">
        <div class="icon-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li *ngFor="let icons of socialIcons"><a href="{{icons.link}}"><i class="fa {{icons.icon}}"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p class="float-right pt-2">Mon-Fri: 8am – 6pm&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;info@lepos.in</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="logo-row pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <a [routerLink]="['']"><img class="logo" src="assets/images/logo-lg.png"></a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 p-0"><i class="fa fa-headphones fa-2x float-right"></i></div>
                                    <div class="col-9">
                                        <h5 class="mb-0">{{mobileNo}}</h5>
                                        <p>Call For Quries?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 p-0"><i class="fa fa-map-marker fa-2x float-right"></i></div>
                                    <div class="col-9">
                                        <!-- <h5 class="mb-0">MUMBAI</h5>
                                        <p>Andhari East</p> -->
                                        <span [innerHTML]="location"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-container container">
            <div class="navv nav-menu menu">
                <ul class="menu-list pl-0">
                    <li class="menu-item" *ngFor="let obj of headerObj" [ngClass]="{'active': obj.active == true}">
                        <a *ngIf="obj.type == 'simple'" [routerLink]="[obj.link]">{{obj.name}}</a>
                        <div *ngIf="obj.type == 'dropdown'" ngbDropdown class="d-inline-block">
                            <a id="{{obj.name.split(' ').join('-')}}" ngbDropdownToggle>{{obj.name}}</a>
                            <div ngbDropdownMenu aria-labelledby="{{obj.name.split(' ').join('-')}}">
                                <div class="row">
                                    <div *ngFor="let cat of obj.data | keyvalue">
                                        <div [ngClass]="{'col-3': findObjLength(obj.data) == 4, 'col-4': findObjLength(obj.data) == 3,'col-6': findObjLength(obj.data) == 2,'col-12': findObjLength(obj.data) == 1}" *ngFor="let subcat of cat.value">
                                            <button ngbDropdownItem [routerLink]="[subcat.link, subcat.params]" class="dropdown-item" [ngClass]="{'hearde': subcat.type == 'sub-category'}">{{subcat.name}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navv nav-button">
                <button [routerLink]="['/contact']">Enquire Now</button>
            </div>
        </div>
    </div>
</div>

<div class="secondary-header">
    <div class="secondary container">
        <ul class="menu-list pl-0">
            <li class="menu-item" *ngFor="let obj of headerObj" >
                <a *ngIf="obj.type == 'simple'" [routerLink]="[obj.link]">{{obj.name}}</a>
                <div *ngIf="obj.type == 'dropdown'" ngbDropdown class="d-inline-block">
                    <a id="{{obj.name.split(' ').join('-')}}" ngbDropdownToggle>{{obj.name}}</a>
                    <div ngbDropdownMenu aria-labelledby="{{obj.name.split(' ').join('-')}}">
                        <div class="row">
                            <div *ngFor="let cat of obj.data | keyvalue">
                                <div [ngClass]="{'col-3': findObjLength(obj.data) == 4, 'col-4': findObjLength(obj.data) == 3,'col-6': findObjLength(obj.data) == 2,'col-12': findObjLength(obj.data) == 1}" *ngFor="let subcat of cat.value">
                                    <button ngbDropdownItem [routerLink]="[subcat.link, subcat.params]" class="dropdown-item" [ngClass]="{'hearde': subcat.type == 'sub-category'}">{{subcat.name}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="md-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <a href="javascript:void()" (click)="open(content)"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-6">
                <img class="logo" src="assets/images/logo-lg.png">
            </div>
            <div class="col-3">
                <a href="javascript:void()"><i class="fa fa-shopping-bag float-right"></i></a>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1" (hidden)="hidden($event)" (shown)="shown($event)">
            <ng-container *ngFor="let obj of headerObj; let i=index">
                <ngb-panel *ngIf="obj.type == 'dropdown'" id="static-{{i}}" >
                    <ng-template ngbPanelHeader>
                        <div class="d-flex align-items-center justify-content-between">
                          <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">{{obj.name}} <i class="fa header-arrow-icon fa-chevron-down"></i></button>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <ul class="main-list" *ngFor="let list of obj.data | keyvalue">
                            <li class="list-item" *ngFor="let item of list.value">
                                <a class="link" href="javascript:void()" (click)="modal.dismiss('Cross click')" [routerLink]="[item.link, item.params]">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ng-container>
        </ngb-accordion>
        <div class="buttons">
            <ng-container *ngFor="let obj of headerObj;">
                <button [routerLink]="[obj.link]" (click)="modal.dismiss('Cross click')" class="header-btn" *ngIf="obj.type == 'simple'">
                    {{obj.name}}
                </button>
            </ng-container>
        </div>
    </div>
</ng-template>