<div class="sub-category">
    <div class="banner" *ngIf="catData" [style.backgroundImage]="'url(http://lepos.in/admin-images/' + catData?.img + ')'">
        <div class="banner-overlay"></div>
        <div class="banner-container">
            <h1 class="text-center">{{catData?.name}}</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="section" *ngIf="catData">
            <p [innerHTML]="catData.long_description"></p>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let sudcat of SubCatData">
                    <div class="card sub-category-card" style="width: 21rem;" [routerLink]="['/products', sudcat.id + '/' +catid]">
                        <img src="assets/images/558x500.png" class="card-img-top" alt="{{sudcat.img}}">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{sudcat.name}}</h4>
                            <p class="card-text text-center">{{sudcat.short_description}}</p>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>