<div class="main">
    <!-- <div class="banner"> -->
        <!-- <div class="banner-overlay"></div>
        <div class="banner-container">
            <h1 class="text-center">Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>

            <div class="banner-buttons mt-5">
                <button class="btn-1" [routerLink]="['/contact']">Get A Quote</button>
                <button class="btn-2">Our Services</button>
            </div>
        </div> -->
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/slide-1.jpg" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3 class="animate__animated animate__backInDown animate__delay-1s">First slide label</h3>
                    <p class="animate__animated animate__slideInUp animate__delay-1s">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/slide-2.jpg" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                    <h3 class="animate__animated animate__backInDown animate__delay-1s">Second slide label</h3>
                    <p class="animate__animated animate__slideInUp animate__delay-1s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/slide-1.jpg" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h3 class="animate__animated animate__backInDown animate__delay-1s">Third slide label</h3>
                    <p class="animate__animated animate__slideInUp animate__delay-1s">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    <!-- </div> -->

    <div class="section intro-container">
        <div class="container">
            <div class="intro">
                <h1 class="text-center p-3">Welcome To Lepos</h1>
                <p class="sub-header text-center pl-3">quality materials, innovative technologies and eye-catching designs</p>
                <p class="content text-center pl-3">A beautiful bathroom can go a long way to making you feel good. It is a room which not only has to live up to functional requirements, but also emotional ones. This is where SCUBA comes in with great ideas, products & complete bathroom ranges & sanitary ware created by the best designers.</p>
            </div>
        </div>
    </div>

    <div class="section container-fluid pt-0">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 feature-card card">
                <img src="assets/images/home-feature-icon1.png" class="card-img-top" alt="svg">
                <div class="card-body">
                    <h5 class="card-title text-center text-light p-3">Card title</h5>
                    <p class="card-text text-center text-light p-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 feature-card card">
                <img src="assets/images/home-feature-icon1.png" class="card-img-top" alt="svg">
                <div class="card-body">
                    <h5 class="card-title text-center text-light p-3">Card title</h5>
                    <p class="card-text text-center text-light p-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 feature-card card">
                <img src="assets/images/home-feature-icon1.png" class="card-img-top" alt="svg">
                <div class="card-body">
                    <h5 class="card-title text-center text-light p-3">Card title</h5>
                    <p class="card-text text-center text-light p-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section container">
        <h4 class="raven-heading"><span class="raven-heading-title">Featured Categories</span></h4>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 mt-4">
                <div class="card category-card" [routerLink]="['/sub-category', '7']">
                    <img src="http://lepos.in/lepos_products_image/product_2.jpg" class="card-img-top" alt="558x500">
                    <div class="card-body">
                        <h4 class="card-title text-center">Water Closet's</h4>
                        <p class="card-text text-center">Explore our Wash Basin range in materials such as Marble, Onyx, Wood, Steel & Concrete. Enhance the Elegance of your Powder Room!</p>                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 mt-4">
                <div class="card category-card" [routerLink]="['/sub-category', '8']">
                    <img src="http://lepos.in/lepos_products_image/product_4.jpg" class="card-img-top" alt="558x500">
                    <div class="card-body">
                        <h4 class="card-title text-center">STUNNING FINISHES</h4>
                        <p class="card-text text-center">Explore our Faucet & Shower Collection with Special Finishing in PVD which ensures Long-Lasting Shine & Exceptional Durability.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 mt-4">
                <div class="card category-card" [routerLink]="['/sub-category', '7']">
                    <img src="http://lepos.in/lepos_products_image/product_5.jpg" class="card-img-top" alt="558x500">
                    <div class="card-body">
                        <h4 class="card-title text-center">EXQUISITE DESIGNS</h4>
                        <p class="card-text text-center">Explore our Faucet & Shower Collection with Special Finishing in PVD which ensures Long-Lasting Shine & Exceptional Durability.</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section container">
        <div class="enq-div">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 pt-5 pb-5">
                    <h2 class="text-md-center">Want a product for your bathroom ?</h2>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 m-auto">
                    <button class="btn">Enquire Now</button>
                </div>
            </div>
        </div>
    </div>
</div>