<div class="sub-category">
    <div class="banner" [style.backgroundImage]="'url(http://lepos.in/admin-images/' + catData?.img + ')'">
        <div class="banner-overlay"></div>
        <div class="banner-container">
            <h1 class="text-center">{{catData?.name}}</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="section" *ngIf="catData != undefined && catData.long_description != undefined">
            <p [innerHTML]="catData.long_description"></p>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-3 mb-5" data-aos="fade-right" *ngFor="let product of products">
                    <div class="card product-card">
                        <div class="img-holder">

                            <img src="assets/images/558x500.png" *ngIf="product.imgPath == null" class="card-img-top" alt="{{product.img}}">
                            <img [src]="'http://lepos.in/lepos_products_image/'+product.imgPath" *ngIf="product.imgPath !== null" class="card-img-top" alt="{{product.img}}">
                            <div class="background">
                                <a class="link" href="javascript:void(0)" (click)="viewProductDetails(product, content)">QUICK VIEW</a>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <p class="cart-subtitle">{{catData?.name}}</p>
                            <p class="card-title main-color"><a class="main-color bold" [routerLink]="['/product-detail', product.id]" [innerHTML]="product.name"></a></p>
                            <p class="card-text">Item Code:&nbsp; <span class="highlight">{{product.item_code}}</span></p>
                            <!-- <p class="card-text false" *ngIf="checkifstrint(product.price) == false">Price:&nbsp; <span class="highlight">₹&nbsp;{{product.price | number : '1.0'}}</span></p><br> -->
                            <p class="card-text true">Price:&nbsp; <span class="highlight">₹ <span [innerHTML]="product.price"></span></span></p><br>
                            <!-- <p class="card-text text-center">{{product.short_description}}</p> -->
                            <button (click)="addtoselection(product)" class="btn btn-outline-main btn-sm main-color">ADD TO SELECTION</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Quick View</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <img src="assets/images/558x500.png" *ngIf="ProductData.imgPath == null" class="card-img-top" alt="{{ProductData.imgPath}}">
                <img [src]="'http://lepos.in/lepos_products_image/'+ProductData.imgPath" *ngIf="ProductData.imgPath !== null" class="card-img-top" alt="{{ProductData.imgPath}}">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6" *ngIf="ProductData">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 [innerHTML]="ProductData.name"></h2>
                <br>

                <p class="mb-0" *ngIf="checkifstrint(ProductData.price) == false">Item MRP: <span class="bold main-color">₹{{ProductData.price | number : '1.0'}}</span></p>
                <p class="mb-0" *ngIf="checkifstrint(ProductData.price) == true">Item MRP: <span class="bold main-color" [innerHTML]="ProductData.price"></span></p>
                <p>Item Code: <span class="bold">{{ProductData.item_code}}</span></p>

                <p class="mb-0">Size: <span class="bold">{{ProductData.size}}</span></p>
                <p class="mb-0">Finish: <span class="bold">{{ProductData?.color}}</span></p>

                <div class="row mt-4">
                    <div class="col-6">
                        <button type="button" class="btn btn-main btn-block font-12">ADD TO SELECTION</button>
                        <button type="button" class="btn btn-outline-main btn-block font-12">PHONE CONSULTATION</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-outline-main btn-block font-12">DOWNLOAD BROCHURES</button>
                        <button type="button" class="btn btn-outline-main btn-block font-12">NEAREST SHOWROOM</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </ng-template>