<div class="about-us">
    <div class="banner" [style.backgroundImage]="'url(http://lepos.in/admin-images/about_us.jpg)'">
        <div class="banner-overlay"></div>
        <div class="banner-container">
            <h1 class="text-center">About Us</h1>
            <h4 class="text-center">Welcome to Lepos</h4>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row" *ngFor="let rows of aboutUsData | keyvalue">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 pt-4 pb-4 mt-5" *ngFor="let cols of rows.value; let odd = odd;">
                <ng-container *ngIf="odd">
                        <div *ngIf="cols.type == 'text'" data-aos="fade-left">
                            <div class="text-content">
                                <h1>{{cols.header}}</h1><br>
                                <div class="text-justify" [innerHTML]="cols.data"></div>
                                <button class="btn btn-outline-main btn-block font-12" *ngIf="cols.button" [routerLink]="[cols.button.link]"> {{cols.button.text}} </button>
                            </div>
                        </div>
                        <div *ngIf="cols.type == 'video'">
                            <div class="video-content">
                                <iframe [src]='cols.safeURL' frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div *ngIf="cols.type == 'carousel'" data-aos="fade-left">
                            <div class="carousel-content">
                                <ngb-carousel *ngIf="cols.data" [interval]="5000" [showNavigationArrows]="cols.data.length > 1?true:false"
                                    [showNavigationIndicators]="cols.data.length > 1?true:false">
                                    <ng-template ngbSlide *ngFor="let image of cols.data">
                                        <div class="picsum-img-wrapper">
                                            <img [src]="image.image" alt="Random slide">
                                        </div>
                                        <div class="carousel-caption" *ngIf="image.text">
                                            <h3>{{image.text}}</h3>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                </ng-container>
                <ng-container *ngIf="!odd">
                        <div *ngIf="cols.type == 'text'" data-aos="fade-right">
                            <div class="text-content">
                                <h1>{{cols.header}}</h1><br>
                                <div class="text-justify" [innerHTML]="cols.data"></div>
                                <button class="btn btn-outline-main btn-block font-12" *ngIf="cols.button" [routerLink]="[cols.button.link]"> {{cols.button.text}} </button>
                            </div>
                        </div>
                        <div *ngIf="cols.type == 'video'">
                            <div class="video-content">
                                <iframe [src]='cols.safeURL' frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div *ngIf="cols.type == 'carousel'" data-aos="fade-right">
                            <div class="carousel-content">
                                <ngb-carousel *ngIf="cols.data" [interval]="5000" [showNavigationArrows]="cols.data.length > 1?true:false"
                                    [showNavigationIndicators]="cols.data.length > 1?true:false">
                                    <ng-template ngbSlide *ngFor="let image of cols.data">
                                        <div class="picsum-img-wrapper">
                                            <img [src]="image.image" alt="Random slide">
                                        </div>
                                        <div class="carousel-caption" *ngIf="image.text">
                                            <h3>{{image.text}}</h3>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>