<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                <img class="footer-logo pb-5" src="assets/images/logo-lg.png">
                <div class="news-form">
                    <p class="newsleter">Signup to Newsletter</p>
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label class="sr-only">Email</label>
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                <div class="row main-content">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                        <h4 class="text-center">Site Map</h4>
                        <ul class="footer-list p-0 pt-3 text-center">
                            <li class="list-item"><a [routerLink]="['']">Home</a></li>
                            <li class="list-item"><a [routerLink]="['/about-us']">About</a></li>
                            <li class="list-item"><a href="javascript:void()">Service</a></li>
                            <li class="list-item"><a href="javascript:void()">Project</a></li>
                            <li class="list-item"><a href="javascript:void()">Blogs</a></li>
                            <li class="list-item"><a [routerLink]="['contact']">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                        <h4 class="text-center">Support</h4>
                        <ul class="footer-list p-0 pt-3 text-center">
                            <li class="list-item"><a href="javascript:void()">Privacy Policy</a></li>
                            <li class="list-item"><a href="javascript:void()">Terms & Conditions</a></li>
                            <li class="list-item"><a href="javascript:void()">Sitemap</a></li>
                            <li class="list-item"><a href="javascript:void()">FAQs</a></li>
                            <li class="list-item"><a href="javascript:void()">Repost a bug</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                        <h4 class="text-center">Popular Services</h4>
                        <ul class="footer-list p-0 pt-3 text-center">
                            <li class="list-item"><a href="javascript:void()">Carpentry</a></li>
                            <li class="list-item"><a href="javascript:void()">Electrical</a></li>
                            <li class="list-item"><a href="javascript:void()">Exterior</a></li>
                            <li class="list-item"><a href="javascript:void()">Flooring</a></li>
                            <li class="list-item"><a href="javascript:void()">Maintenance</a></li>
                            <li class="list-item"><a href="javascript:void()">Plumbing</a></li>
                            <li class="list-item"><a href="javascript:void()">Renovation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4 copyright-div">
        <p class="m-0">©2020 <span class="copyright-text"><a [routerLink]="['']">Lepos</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved</p>
    </div>
</div>