/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './assets/style/_variables.scss';
@import '../node_modules/animate.css/animate.css';
@import '../node_modules/sweetalert2/src/sweetalert2.scss';
@import '../node_modules/aos/dist/aos.css';
$small: 480px;
@font-face {
    font-family: 'Raleway';
    src: url(./assets/fonts/Raleway-Regular.ttf) format('truetype');
}
body {
    font-family: 'Raleway', sans-serif;
}

.main-color{
    color: var(--main);
    &:hover{
        color: var(--main);
        text-decoration: none;
    }
}
.main-bg{
    background-color: var(--main);
}
.btn-outline-main{
    font-weight: 500;
    border: 1px solid var(--main);
    transition:  0.5s;
    color: var(--main);
}
.btn-outline-main:hover{
    border: 1px solid var(--font-gray-light);
    background-color: var(--main);
    color: #fff;
    transform: scale(1.1);
}
.btn-main{
    transition:  0.5s;
    background-color: var(--main);
    color: #fff;
    font-weight: 500;
}
.btn-main:hover{
    background-color: var(--main);
    color: #fff;
    font-weight: 500;
    transform: scale(1.1);
}

.icon-list{
    background-color: #F7FAFF;
    color: var(--font-gray-light);
    ul {
        list-style-type: none;
        position: absolute;
        left: -35px !important;
        li{
            float: left;
            padding: 10px;
            a{
                color: var(--font-gray-light);;
            }
        }
    }
}

.logo-row{
    .logo{
        width: 200px;
    }
}

.menu-container{
    display: flex;
    position: relative;
    top: 20px;
    background: #fff;
    z-index: 10;
    .menu{
        .menu-list{
            list-style-type: none;
            .menu-item{
                padding: 20px 20px 20px 20px;
                float: left;
                a{ color: #000; cursor: pointer; &:hover{ text-decoration: none; }}
                &.active{
                    border-top: 2px solid var(--main);
                }
                &:hover{
                    border-top: 2px solid var(--main);
                }
                .dropdown-menu{
                    width: max-content;
                    padding: 15px;
                    .dropdown-item{
                        border-bottom: 1px solid var(--font-gray-light);
                        color: #909090;
                        padding: 10px 0px;
                        &.hearde{
                            color: #000;
                            font-weight: 600;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    .navv{
        display: inline-block;
        &.nav-button{
            button{
                border: 0px;
                height: 100%;
                padding: 20px;
                background: var(--main);
                color: #fff;
                font-size: 18px;
                font-weight: 700;
            }
            position: absolute;
            right: 0px;
        }
    }
}

.footer{
    border-top: 1px solid #abaeae;
    padding-top: 30px;
    .footer-logo{
        width: 65%;
    }
    .news-form{
        .form-control{
            height: 55px;
            width: 285px;
            border: 1px solid #331307;
            border-radius: 3px 0px 0px 3px;
        }
        .btn-primary{
            height: 55px;
            border-radius: 0px 3px 3px 0px;
            background: var(--main);
            width: 100px;
            font-size: 18px;
            border-color: var(--main);
            &:hover{
                background: var(--main);
            }
            &:focus{
                box-shadow: none;
            }
            &:active{
                box-shadow: none;
                background: var(--main);
            }
        }
    }
    .footer-list{
        list-style-type: none;
        .list-item{
            padding: 8px 0px;
            a{
                color: #000;
                &:hover{
                    text-decoration: none;
                    font-weight: 700;
                }
            }
        }
    }

    .copyright-div{
        text-align: center;
        background-color: var(--main);
        color: var(--font-gray-light);
        .copyright-text{
            font-weight: 600;
        }
    }
}

.main{
    .carousel-inner{
        height: 33vmax;
        .carousel-item{
            height: 100%;
        }
    }
    .banner{
        background: url('./assets/images/1920x871.png');
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .banner-overlay{
            background-color: #050933;
            opacity: 0.7;
            transition: 0.3s, border-radius 0.3s, opacity 0.3s;
            height: 600px;
        }
        .banner-container{
            position: absolute;
            top: 40%;
            z-index: 9;
            color: #fff;
            width: 100%;
            margin: auto;
            h1{
                width: 65%;
                margin: auto;
            }
            .banner-buttons{
                width: fit-content;
                margin: auto;
                .btn-1{
                    width: 140px;
                    background: var(--main);
                    border: 1px solid var(--main);
                    color: #fff;
                    height: 55px;
                }
                .btn-2{
                    width: 140px;
                    background: transparent;
                    border: 1px solid var(--main);
                    color: var(--main);
                    height: 55px;
                    margin-left: 25px;
                }
            }
        }
    }

    .feature-card{
        height: 300px;
        background: #131E24;
        border-radius: 0px;
        padding: 30px 0px;
        &:hover{
            background: #121C22;
        }
        .card-img-top{
            width: 45px;
            margin: auto;
        }
        .card-text {
            line-height: 2.5;
        }
    }

    .section{
        padding-top: 25px;
        padding-bottom: 25px;

        .enq-div{
            background-color: var(--main);
            padding: 40px;
            color: var(--font-gray-light);

            .btn{
                float: right;
                background: #131e24;
                color: white;
                padding: 15px 80px;
                font-size: 22px;
                &:hover{
                    background-color: #565656;
                    background-image: none;
                }
            }
        }
        &.intro-container{
            background-color: #F2F2F2;
        }
        .intro{
            padding: 50px;
        }
    }

    .category-card{
        transition: 800ms;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        cursor: pointer;
        &:hover{
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
    }
}

.sub-category, .about-us{
    .banner{
        height: 420px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .banner-overlay{
            background-color: #050933;
            opacity: 0.6;
            transition: 0.3s, border-radius 0.3s, opacity 0.3s;
            height: 420px;
        }
        .banner-container{
            position: absolute;
            top: 40%;
            z-index: 9;
            color: #fff;
            width: 100%;
            margin: auto;
            h1{
                width: 65%;
                margin: auto;
            }
        }
    }

    .feature-card{
        height: 300px;
        background: #131E24;
        border-radius: 0px;
        padding: 30px 0px;
        &:hover{
            background: #121C22;
        }
        .card-img-top{
            width: 45px;
            margin: auto;
        }
        .card-text {
            line-height: 2.5;
        }
    }

    .section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .sub-category-card{
        transition: 800ms;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        margin-bottom: 60px;
        cursor: pointer;
        &:hover{
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
    }

    .product-card{
        margin: auto;
        width: 20rem;
        .card-body{
            .cart-subtitle{
                margin-bottom: 0px;
                font-size: 10px;
                color: #808080;
            }
            .card-text{
                margin-bottom: 0px;
                font-size: 14.2px;
                color: #5C5C5C;
                .highlight{
                    color: var(--main);
                    font-weight: 600;
                }
            }
        }
    }
}

.secondary-header{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    height: 75px;
    transition: 800ms;
    .menu-list{
        list-style-type: none;
        .menu-item{
            padding: 20px 20px 20px 20px;
            float: left;
            a{ color: #000; cursor: pointer; &:hover{ text-decoration: none; }}
            &.active{
                border-bottom: 2px solid var(--main);
            }
            &:hover{
                border-bottom: 2px solid var(--main);
            }
            .dropdown-menu{
                width: max-content;
                padding: 15px;
                .dropdown-item{
                    border-bottom: 1px solid var(--font-gray-light);
                    color: #909090;
                    padding: 10px 0px;
                    &.hearde{
                        color: #000;
                        font-weight: 600;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
.md-header{
    padding-top: 1px;
    position: sticky;
    top: 0px;
    z-index: 100;
    height: 65px;
    background-color: rgba(255,255,255,0.9);
    .container-fluid{
        margin-top: 10px;
    }
    a{
        i{
            color: var(--main);
            font-size: 20px;
            margin-top: 15px;
        }
    }
    .logo{
        width: 100%;
    }
}
.header-model{
    .modal-dialog{
        margin: 0px;
        width: 80%;
        height: 100vh;
        .modal-content{
            height: 100%;
            .modal-body{
                padding: 0px;
            }
        }
    }
}
.slick-arrow{
    display: none !important;
}
.slick-slide img{
    width: 90%;
}
.raven-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .raven-heading-title{
        padding-right: 35px;
        padding-left: 35px;
        font-size: 14px;
        color: #8a8c99;
    }
}

.raven-heading:before {
    border-width: 2px;
    border-color: #8a8c99;
}

.bold{
    font-weight: 700;
}

.img-holder {position: relative;}
.img-holder .link {
    opacity: 0;
    padding: 7px 110px;
    background: var(--main);
    transition: 0.5s ease;
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-weight: 500;
    right: calc(50% - 158px);
}

.img-holder:hover .link{
    opacity: 1;
    text-decoration: none;
}

.font-12{
    font-size: 12px;
}

.video-content{
    position: absolute;
    width: 90%;
    height: 400px;
    margin: auto;
    iframe{
        width: 100%;
        height: 100%;
    }
}

.carousel-content{
    width: 100%;
    height: 25vmax;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    .carousel-inner{
        height: 22vmax;
        .carousel-item{
            height: 100%;
        }
    }
}

.ngx-gallery-image.ngx-gallery-active{
    z-index: 9 !important;
}

.main-list{
    list-style-type: none;
    border-bottom: 1px solid var(--main);
    white-space: nowrap;
    padding-bottom: 1rem;
    &:last-child{
        border-bottom: 0px;
        padding-bottom: 0rem;
    }
    .list-item{
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        padding-left: 15px;
        &:nth-child(1){
            padding: 0px 0px 10px 0px;
            font-size: 17px;
            font-weight: 700;
        }
        .link{
            color: #000;
        }
    }
}
.picsum-img-wrapper{
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.header-model{
    .card-header {
        border: 2px solid var(--main) !important;
        background: transparent;
        .btn{
            color: var(--main);
            font-size: 19px;
            font-weight: 700;
        }
    }

    .buttons{
        bottom: 0px;
        width: 100%;
        .header-btn{
            width: 100%;
            padding: 10px 0px;
            background: var(--main);
            color: var(--font-gray-light);
            border: 1px solid var(--font-gray-light);
            font-weight: 600;
            text-align: left;
            padding-left: 25px;
        }
    }

}
.btn:focus, .btn.focus{
    box-shadow: none;
    text-decoration: none;
}

.carousel-caption{
    z-index: 0;
}

.header-arrow-icon{
    float: right;
    padding-top: 3px;
}
.desktop{
    display: flex;
}
.slick-slide img{
    margin: auto;
}
.mobile{
    display: none;
}
.md-header, .secondary-header{
    display: none;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: transparent;
}
button:focus{
    outline: none;
}
@media screen and (max-width: $small) {
    .text-md-center{
        text-align: center !important;
    }
    .category-card, .sub-category-card{
        width: 18rem;
        margin: auto;
    }
    .video-content{
        position: relative;
        width: auto;
        height: auto;
    }
    .carousel-content{
        height: auto;
        .carousel-inner{
            height: auto;
            .carousel-item{
                height: 100%;
            }
        }
    }

    .secondary-header, .hearder-container{
        display: none;
    }

    .md-header{
        display: block;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
    .footer-logo{
        display: none;
    }

    .footer{
        .news-form{
            padding-bottom: 30px;
            .form-control{
                width: 38vmax;
            }
            .btn-primary{
                margin: auto;
            }
        }
        .main-content{
            padding-top: 20px;
            border-top: 1px solid #abaeae;
            .text-center{
                text-align: left !important;
            }
        }
        .footer-list{
            padding: 0px !important;
            margin-bottom: 2rem;
            .list-item{
                padding: 4px 0px;
            }
        }
    }

    .section{
        .intro{
            padding: 30px;
        }
    }
}